body {
    background: #E4F5DF
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
    text-align: center;
    font-size: x-large;
    border-style: dotted;
    background-color: transparent;
    font-color: #707A7D
}
	

.faq q {
    
}

IMG.centerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto
}